<div class="home-container">
  <div class="card-container">
    <div class="image-container"></div>
    <div class="content-container">
      <div class="pretitle-card">PERFUME</div>
      <div class="title-container">
        <p class="title-card">Gabrielle <br> Essence Eau <br> De Parfum</p>
      </div>
      <div class="subtitle-container">
        <p class="subtitle-card">
          A floral, solar and voluptuos interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL
        </p>
      </div>
      <div class="price-container">
        <p class="promo-price">$149.99</p>
        <p class="correct-price">$169.99</p>
      </div>
      <button class="button-add-card"> <img src="../assets/icon-cart.svg" alt="" style="padding-right: 10px;"> Add to cart</button>
    </div>
  </div>
</div>
